@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--Yellow);
  font-family: "Figtree", sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Preview-card {
  background-color: var(--White);
  max-width: 290px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 8px 8px 0px 0px black;
}

#ilustration {
  max-width: 250px;
  display: block;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.learn {
  font-weight: 800;
  font-size: 0.7em;
  padding: 4px 13px;
  border-radius: 3px;
  display: inline-block;
  background-color: var(--Yellow);
}

h1 {
  font-size: 1.1em;
  font-weight: 800;
}

h1:hover {
  color: var(--Yellow);
  cursor: pointer;
}

.mainparagraph {
  color: var(--Gray-500);
  font-weight: 500;
}

p {
  font-size: 0.8em;
  line-height: 1.5;
}

.item {
  margin-bottom: 20px;
}

#img-greg {
  width: 30px;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Media Query */

@media screen and (min-width: 768px) {
  #Preview-card {
    max-width: 325px;
    transition-duration: 0.5s;
  }

  #ilustration {
    max-width: 280px;
    transition-duration: 0.5s;
  }

  h1 {
    font-size: 1.4em;
  }

  .item {
    margin-bottom: 15px;
  }
}
