@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

/* Font weight: 500, 700, 800.
Font size (paragraphs): 18px */

:root {
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);

  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);

  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: var(--Pale-blue);
}

p {
  font-size: 18px;
}

main {
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#results-container {
  display: flex;
  width: 736px;
  height: 512px;
  background-color: var(--White);
  border-radius: 20px;
  margin: 0 auto;
}

#score-container {
  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  width: 50%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px 0px;
}

#score-container h2 {
  font-size: 18px;
  font-weight: 700;
  color: var(--Light-lavender);
}

.circle-container {
  background-image: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.larger-number {
  font-size: 62px;
  font-weight: 500;
  color: var(--White);
}

.small-number {
  color: var(--Light-lavender);
  opacity: 0.8;
}

h1 {
  color: var(--White);
}

#score-container > p {
  color: var(--Light-lavender);
  text-align: center;
  width: 70%;
  line-height: 1.5;
}

#summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-top: -15px;
}

#summary-container h2 {
  font-size: 18px;
  color: var(--Dark-gray-blue);
  align-self: flex-start;
  margin-left: 30px;
  margin-bottom: 25px;
}

.stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  padding: 15px;
  border-radius: 15px;
  font-weight: 500;
  margin-bottom: 16px;
}

.stats-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.full {
  color: hsla(224, 30%, 27%, 0.584);
}

.half {
  color: hsl(224, 30%, 27%);
  font-weight: bold;
}

#reaction {
  background-color: hsla(0, 100%, 67%, 0.05);
  color: var(--Light-red);
}

#memory {
  background-color: hsla(39, 100%, 56%, 0.05);
  color: var(--Orangey-yellow);
}

#verbal {
  background-color: hsl(166, 100%, 37%, 0.05);
  color: var(--Green-teal);
}

#visual {
  background-color: hsl(234, 85%, 45%, 0.05);
  color: var(--Cobalt-blue);
}

#btn {
  width: 310px;
  padding: 15px;
  background-color: hsl(224, 30%, 27%);
  color: var(--Pale-blue);
  border-radius: 30px;
  margin-top: 20px;
}

/* MEDIA QUERY */

@media screen and (max-width: 650px) {
  #results-container {
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--White);
    border-radius: 0px;
  }

  #score-container {
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    gap: 15px;
  }

  #summary-container {
    width: 100%;
    margin-top: 10px;
  }

  .stats-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #btn {
    margin-bottom: 20px;
  }

  #summary-container h2 {
    font-size: 18px;
    color: var(--Dark-gray-blue);
    align-self: flex-start;
    margin-left: 40px;
  }

  .attribution {
    display: none;
  }
}
